html
	head
		body
			h1 Index

			form(method='post' action='/createPost')

				p Title of messge
				input(type='text', name='inputTitle')

				p What do you want to say?
				input(type='text', name='inputMessage')

				br
				br
				input(type='submit' value='submit')